{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Estadisticas
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Short</th>
            <th scope="col">Original</th>
            <th scope="col">Clicks</th>
            <th scope="col">Fecha creación</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <th scope="row">{{ url['id'] }}</th>
                    <td>{{ url['short_url'] }}</td>
                    <td>{{ url['url_original'] }}</td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['creado'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
